@import "../../mixins.scss";

.ui-datetime-input {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.ui-datetime-input-calendar {
    display: block;
    position: absolute;
    padding-top: 2px;
    z-index: 20;

    >.calendar {
        display: block;
        border: 1px solid;
        border-radius: 4px;
        overflow: hidden;

        >table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            padding: 6px;

            td {
                padding: 2px;
                text-align: center;

                >button {
                    padding: 4px 6px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    background-color: transparent;
                    text-align: center;
                    font-family: inherit;
                    font-size: inherit;
                }

                &.this-date>button {
                    font-weight: bold;
                }
            }
        }
    }
}

@include themify {
    .ui-datetime-input-calendar {
        >.calendar {
            border-color: themed("button-active-border-color");
            background-color: themed("block-background-color");

            >table {

                td {
                    >button {
                        color: themed("label-text-color");

                        &:hover {
                            border-color: themed("button-hover-border-color");
                        }
                    }

                    &.this-month>button {
                        color: themed("text-color");
                    }

                    &.selected>button {
                        border-color: themed("primary-button-border-color");
                        background-color: themed("primary-button-background-color");
                        color: themed("primary-button-text-color");
                    }
                }
            }
        }
    }
}
