@import "../../mixins.scss";

.ui-checkbox {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 0 0;
	@include box-sizing(border-box);
	@include transition(border-color 150ms ease-out, background-color 150ms ease-out);

	appearance: none;
	-webkit-appearance: none;

	&:hover {
		cursor: pointer;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:active,
	&:focus {
		outline: none;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:checked {
		background-repeat: no-repeat;
		background-size: 600% 600%;
		background-position: 40% 80%;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:disabled {
		box-shadow: 0 0 !important;
		cursor: default;
	}
}

@include themify {
	.ui-checkbox {
		border-color: themed("input-border-color");
		background-color: themed("input-background-color");

		&:hover {
			border-color: themed("input-hover-border-color");
			background-color: themed("input-hover-background-color");
		}

		&:active,
		&:focus {
			border-color: themed("input-active-border-color");
		    box-shadow: 0 0 2px themed("input-active-border-color");
		}

		&:checked {
			border-color: themed("checkbox-checked-border-color");
			background-color: themed("checkbox-checked-background-color");
            background-image: themed("primary-icons");
		}

		&:disabled {
			border-color: themed("input-disabled-border-color") !important;
			background-color: themed("input-disabled-background-color") !important;

            &:checked {
				background-image: themed("icons");
			}
		}
	}
}
