@import "../../mixins.scss";

.ui-checkbox {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 0 0;
	@include box-sizing(border-box);
	@include transition(border-color 150ms ease-out, background-color 150ms ease-out);

	appearance: none;
	-webkit-appearance: none;

	&:hover {
		cursor: pointer;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:active,
	&:focus {
		outline: none;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:checked {
		background-image: url('../../images/icons-white.svg');
		background-repeat: no-repeat;
		background-size: 600% 600%;
		background-position: 40% 80%;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:disabled {
		box-shadow: 0 0 !important;
		color: #666666;
		cursor: default;

		&:checked {
			background-image: url('../../images/icons.svg');
		}
	}
}

@include themify($themes) {
	.ui-checkbox {
		border-color: themed("button-border-color");
		background-color: themed("button-background-color");

		&:hover {
			border-color: themed("button-hover-border-color");
			background-color: themed("button-hover-background-color");
		}

		&:active,
		&:focus {
			border-color: themed("primary-button-active-border-color");
			background-color: themed("button-active-background-color");
		    box-shadow: 0 0 2px themed("primary-button-active-border-color");
		}

		&:checked {
			border-color: themed("primary-button-active-border-color");
			background-color: themed("primary-button-active-background-color");
		}

		&:disabled {
			border-color: themed("button-disabled-border-color");
			background-color: themed("button-disabled-background-color");
		}
	}
}

body.theme-dark {
	.ui-checkbox {
		&:disabled {
			&:checked {
				background-image: url('../../images/icons-white.svg');
			}
		}
	}
}
