@import "../../mixins.scss";

#header {
    display: block;
    position: relative;

    >.ui-alert {
        margin-top: 10px;

        .ui-alert-content {
            position: relative;
            padding-right: 32px;

            .ui-icon-button {
                display: block;
                position: absolute;
                top: 6px;
                right: 6px;
            }
        }
    }
}

#header-top {
    margin-top: 20px;
}

#header-top:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    visibility: hidden;
}

#header-logo {
    margin: 0 0 0 10px;
    float: left;
}

#header-logo:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    visibility: hidden;
}

#header-logo>a,
#header-logo>span {
    display: block;
    float: left;
}

#header-logo>a {
    margin-top: -8px;
    width: 120px;
    height: 40px;
    background: url("../../images/logo.svg") no-repeat;
    font-size: 0;
    color: transparent;
}

#header-logo>a:hover {
    text-decoration: none;
}

#header-logo>span {
    margin: 8px 0 0 12px;
    line-height: 20px;
    font-size: 16px;
    color: #999999;
}

#header-account {
    margin: 16px 10px 10px 0;
    float: right;
}

#header-account>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header-account>ul:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    visibility: hidden;
}

#header-account>ul>li {
    float: left;
    margin: 0 8px 0 0;
}

#header-account>ul>li:last-child {
    margin-right: 0;
}

#header-nav {
    display: block;
    border: 1px solid;
    border-radius: 4px;

    >ul {
        margin: 0 10px;
        padding: 0;
        list-style: none;
        @include clear-fix;

        >li {
            float: left;
            margin: 0 8px 0 0;

            &:last-child {
                margin-right: 0;
            }

            >a {
                display: block;
                padding: 0 10px;
                height: 42px;
                line-height: 46px;
                font-size: 15px;
                border-bottom: 4px solid transparent;
                transition: border-color 150ms ease-out;
                -moz-transition: border-color 150ms ease-out;
                -o-transition: border-color 150ms ease-out;
                -webkit-transition: border-color 150ms ease-out;

                &:hover {
                    text-decoration: none;
                    transition: border-color 150ms ease-in;
                    -moz-transition: border-color 150ms ease-in;
                    -o-transition: border-color 150ms ease-in;
                    -webkit-transition: border-color 150ms ease-in;
                }
            }

            &.admin {
                float: right;
            }
        }
    }
}

@include themify {
    #header-nav {
        border-color: themed("block-border-color");
        background-color: themed("block-background-color");

        >ul>li {
            >a:hover {
                border-color: themed("button-active-background-color");
            }

            &.active > a {
                border-color: themed("primary-button-active-background-color");
            }
        }
    }
}
