@import "../../mixins.scss";

.ui-verdict {
    &.failed {
        color: #000000;
        font-style: italic;
    }

    &.queued,
    &.running {
        color: #666666;
    }

    &.accepted {
        color: #3c763d;
    }

    &.ce,
    &.rejected,
    &.wa,
    &.pe {
        color: #a94442;
    }

    &.tle,
    &.mle,
    &.re,
    &.pa {
        color: #31708f;
    }
}

.ui-verdict-details {
    .item {
        display: block;
        margin-bottom: 2px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .time,
    .memory {
        color: $light-secondary-text-color;
        font-size: 12px;
    }
}
