@import "../../mixins.scss";

.ui-textarea {
	display: inline-block;
	@include box-sizing(border-box);
	padding: 8px 10px;
	min-height: 52px;
	max-height: 800px;
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 0 0;
	font-family: inherit;
	font-size: inherit;
	resize: none;
	@include transition(border-color 150ms ease-out);

	&:hover {
		@include transition(border-color 150ms ease-in);
	}

	&:focus {
		outline: none;
		@include transition(border-color 150ms ease-in);
	}

	&:disabled {
		box-shadow: 0 0 !important;
		cursor: default;
	}
}


@include themify {
	.ui-textarea {
		border-color: themed("input-border-color");
		background-color: themed("input-background-color");
		color: themed("input-text-color");

		&:hover {
			border-color: themed("input-hover-border-color");
			background-color: themed("input-hover-background-color");
			color: themed("input-hover-text-color");
		}

		&:active,
		&:focus {
			border-color: themed("input-active-border-color");
			box-shadow: 0 0 2px themed("input-active-border-color");
		}

		&:disabled {
			border-color: themed("input-disabled-border-color");
			background-color: themed("input-disabled-background-color");
			color: themed("input-disabled-text-color");
		}

		&::placeholder {
			color: themed("input-placeholder-color");
		}
	}
}
