.b-solution {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            text-align: right;
            width: 1%;
        }

        .author,
        .problem,
        .verdict,
        .points {
            text-align: center;
        }
    }
}

.b-solution-report {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            text-align: right;
            width: 1%;
        }

        .time,
        .memory,
        .verdict {
            text-align: center;
        }

        .check-log {
            width: 1%;

            .log {
                margin: 0;
                padding: 10px;
                font-family: monospace;
                background-color: #eee;
                border-radius: 4px;
                overflow: auto;
                max-width: 400px;
            }
        }
    }
}
