@import "../../mixins.scss";

.ui-tabs {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	@include clear-fix;

	.ui-tab {
		display: block;
		float: left;
		padding: 2px 4px;
		margin-right: 2px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: transparent;
		text-align: center;
		font-family: inherit;
		font-size: inherit;

		&:hover {
			cursor: pointer;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

@include themify {
	.ui-tabs .ui-tab {
		color: themed("label-text-color");

		&:hover {
			border-color: themed("button-hover-border-color");
		}

		&.selected {
			border-color: themed("primary-button-border-color");
			background-color: themed("primary-button-background-color");
			color: themed("primary-button-text-color");

			a {
				color: themed("primary-button-text-color");
			}
		}
	}
}
