@import "../../mixins.scss";

.ui-tabs {
	margin: 0 0 10px 0;
	padding: 0;
	border-bottom: 1px solid;
	list-style: none;
	@include clear-fix;

	&:last-child {
		margin-bottom: 0;
	}

	>li {
		display: block;
		float: left;
		margin: 0 4px 0 0;

		&:last-child {
			margin-right: 0;
		}

		>a {
			display: block;
			padding: 0 10px;
			height: 32px;
			line-height: 32px;
			border: 1px solid transparent;
			border-bottom: 0;
			border-radius: 4px 4px 0 0;
			@include transition(border-color 150ms ease-out, background-color 150ms ease-out);

			&:hover {
				text-decoration: none;
				@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
			}
		}
	}
}

@include themify {
	.ui-tabs {
		border-color: themed("block-border-color");

		>li {
			>a {
				background-color: themed("button-background-color");

				&:hover {
					background-color: themed("button-active-background-color");
				}
			}

			&.active>a {
				border-color: themed("primary-button-border-color");
				background-color: themed("primary-button-background-color");
				color: themed("primary-button-text-color");
			}
		}
	}
}
