@import "../../mixins.scss";

.ui-button {
	display: inline-block;
	@include box-sizing(border-box);
	padding: 0 10px;
	height: 32px;
	line-height: 30px;
	border: 1px solid;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
	@include transition(border-color 150ms ease-out, background-color 150ms ease-out);

	&:hover {
		cursor: pointer;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:active {
		cursor: pointer;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:focus {
		outline: none;
	}

	// Disabled buttons.
	&:disabled {
		cursor: default;
	}
}

@include themify {
	.ui-button {
		border-color: themed("button-border-color");
		background-color: themed("button-background-color");
		color: themed("button-text-color");

		&:hover {
			border-color: themed("button-hover-border-color");
			background-color: themed("button-hover-background-color");
			color: themed("button-hover-text-color");
		}

		&:active {
			border-color: themed("button-active-border-color");
			background-color: themed("button-active-background-color");
			color: themed("button-active-text-color");
		}

		// Disabled buttons.
		&:disabled {
			border-color: themed("button-disabled-border-color") !important;
			background-color: themed("button-disabled-background-color") !important;
			color: themed("button-disabled-text-color") !important;
		}

		// Primary buttons.
		&.primary {
			border-color: themed("primary-button-border-color");
			background-color: themed("primary-button-background-color");
			color: themed("primary-button-text-color");

			&:hover {
				border-color: themed("primary-button-hover-border-color");
				background-color: themed("primary-button-hover-background-color");
				color: themed("primary-button-hover-text-color");
			}

			&:active {
				border-color: themed("primary-button-active-border-color");
				background-color: themed("primary-button-active-background-color");
				color: themed("primary-button-active-text-color");
			}
		}

		// Success buttons.
		&.success {
			border-color: themed("success-button-border-color");
			background-color: themed("success-button-background-color");
			color: themed("success-button-text-color");

			&:hover {
				border-color: themed("success-button-hover-border-color");
				background-color: themed("success-button-hover-background-color");
				color: themed("success-button-hover-text-color");
			}

			&:active {
				border-color: themed("success-button-active-border-color");
				background-color: themed("success-button-active-background-color");
				color: themed("success-button-active-text-color");
			}
		}

		// Danger buttons,
		&.danger {
			border-color: themed("danger-button-border-color");
			background-color: themed("danger-button-background-color");
			color: themed("danger-button-text-color");

			&:hover {
				border-color: themed("danger-button-hover-border-color");
				background-color: themed("danger-button-hover-background-color");
				color: themed("danger-button-hover-text-color");
			}

			&:active {
				border-color: themed("danger-button-active-border-color");
				background-color: themed("danger-button-active-background-color");
				color: themed("danger-button-active-text-color");
			}
		}
	}
}
