@import "../../mixins.scss";

.ui-button {
	display: inline-block;
	@include box-sizing(border-box);
	padding: 0 10px;
	height: 32px;
	line-height: 30px;
	border: 1px solid $light-border-color;
	border-radius: 4px;
	background-color: $light-background-color;
	color: $light-text-color;
	font-family: inherit;
	font-size: inherit;
	@include transition(border-color 150ms ease-out, background-color 150ms ease-out);

	&:hover {
		border-color: $light-hover-border-color;
		cursor: pointer;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:active {
		border-color: $light-active-border-color;
		background-color: #eeeeee;
		cursor: pointer;
		@include transition(border-color 150ms ease-in, background-color 150ms ease-in);
	}

	&:focus {
		outline: none;
	}

	// Disabled buttons.
	&:disabled {
		border-color: $light-border-color !important;
		background-color: $light-disabled-background-color !important;
		color: #666666 !important;
		cursor: default;
	}

	// Primary buttons.
	&.primary {
		border-color: $light-border-primary-color;
		background-color: $light-background-primary-color;
		color: #ffffff;

		&.primary:hover {
			background-color: $light-hover-background-primary-color;
		}

		&.primary:active {
			background-color: $light-active-background-primary-color;
		}
	}

	// Success buttons.
	&.success {
		border-color: $light-border-success-color;
		background-color: $light-background-success-color;
		color: #ffffff;

		&:hover {
			background-color: $light-hover-background-success-color;
		}

		&:active {
			background-color: $light-active-background-success-color;
		}
	}

	// Danger buttons,
	&.danger {
		border-color: #cc342f;
		background-color: #d9534f;
		color: #ffffff;

		&:hover {
			background-color: #e2615e;
		}

		&:active {
			background-color: #cc342f;
		}
	}
}
