@import "../../mixins.scss";

.ui-duration-input {
	display: inline-block;
	@include box-sizing(border-box);

	>.hidden {
		display: none;
	}

	>.ui-input {
		display: inline-block;
		position: relative;
		margin-left: -1px;
		padding: 0 4px;
		width: 40px;
		text-align: center;

		&.days {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			margin-left: 0;
			width: 60px;
		}

		&.hours,
		&.minutes {
			border-radius: 0;
		}

		&.seconds {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}