@import "../../mixins.scss";

.ui-tooltip {
	display: inline-block;
	position: relative;
	z-index: 0;
}

.ui-tooltip-block {
	display: block;
	position: absolute;
	cursor: default;
	z-index: 20;

	>.ui-tooltip-arrow {
		display: block;
		position: relative;
		margin-top: -10px;
		margin-left: -5px;
		width: 0;
		height: 0;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent $light-active-border-color transparent;
	}

	>.ui-tooltip {
		display: block;
		position: relative;
		left: -50%;
		border: 1px solid $light-active-border-color;
		border-radius: 4px;
		background-color: $light-background-color;
		box-shadow: 0 0 2px $light-active-border-color;

		>.ui-tooltip-content {
			display: block;
			padding: 8px 10px;
			max-width: 400px;
			text-align: center;
		}
	}
}
