@import "../../mixins.scss";

.ui-tooltip {
	display: inline-block;
	position: relative;
	z-index: 0;
}

.ui-tooltip-portal {
	display: block;
	position: absolute;
	cursor: default;
	z-index: 20;

	>.ui-tooltip-arrow {
		display: block;
		position: relative;
		margin: -5px auto 0 auto;
		width: 0;
		height: 0;
		border-width: 5px;
		border-style: solid;
		border-color: transparent;
		pointer-events: none;
	}

	>.ui-tooltip {
		display: block;
		position: relative;
		border: 1px solid;
		border-radius: 4px;

		>.ui-tooltip-content {
			display: block;
			padding: 8px 10px;
			max-width: 400px;
			text-align: center;
		}
	}
}

@include themify {
	.ui-tooltip-portal {
		>.ui-tooltip-arrow {
			border-bottom-color: themed("button-active-border-color");
		}

		>.ui-tooltip {
			border-color: themed("button-active-border-color");
			background-color: themed("block-background-color");
			box-shadow: 0 0 2px themed("button-active-border-color");
		}
	}
}
