@import "../../mixins.scss";

@use "../Input/index.scss";

.ui-select {
	display: inline-block;
	position: relative;
	z-index: 0;

	> button {
		display: inline-block;
		position: relative;
		@include box-sizing(border-box);
		padding: 0 30px 0 10px;
		width: 100%;
		height: 32px;
		line-height: 30px;
		border: 1px solid $border-color;
		border-radius: 4px;
		background-color: $background-color;
		font-family: inherit;
		font-size: inherit;
		color: $text-color;
		z-index: 0;
		@include transition(
			border-color 150ms ease-out, background-color 150ms ease-out
		);

		&:focus {
			outline: none;
		}

		&:hover {
			border-color: $dark-border-color;
			cursor: pointer;
			@include transition(
				border-color 150ms ease-in, background-color 150ms ease-in
			);
		}
		
		> .arrow {
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 5px;
			right: 5px;
			background-image: url('../../images/icons.svg');
        	background-repeat: no-repeat;
        	background-size: 600% 600%;
        	background-position: 40% 60%;
			transform: rotate(0deg);
			@include transition(transform 150ms ease-out);
		}
	}

	> .options-wrap {
		display: none;

		> .options {
			display: block;
			margin-top: -1px;
			border: 1px solid $border-color;
			border-radius: 0 0 4px 4px;
			background-color: $background-color;

			> .option {
				display: block;
				padding: 4px 10px;
				@include box-sizing(border-box);
				line-height: 24px;
				width: 100%;
				border: none;
				background: $background-color;

				&:hover {
					background-color: #efefef;
					cursor: pointer;
				}
			}
		}
	}

	&.focused {
		z-index: 20;

		> button {
			border-color: $dark-border-color;
			background-color: #eeeeee;
			border-radius: 4px 4px 0 0;
			z-index: 10;

			> .arrow {
				transform: rotate(180deg);
				@include transition(transform 150ms ease-in);
			}
		}

		> .options-wrap {
			display: block;
			position: absolute;
			left: 0;
			min-width: 100%;
			z-index: 0;
		}
	}

	&.disabled {
		> button {
			border-color: $border-color !important;
			background-color: $dark-background-color !important;
			color: #666666 !important;
			cursor: default;
		}
	}
}