@import "katex/dist/katex.min.css";
@import "../../mixins.scss";

.ui-latex {
	.lstlisting {
		padding: 10px;
		border-radius: 4px;
		font-family: monospace;
		overflow: auto;
	}

	.texttt {
		font-family: monospace;
	}

	img {
		max-width: 100%;
	}
}

@include themify {
	.ui-latex {
		.lstlisting {
			color: themed("button-active-text-color");
			background-color: themed("button-active-background-color");
		}
	}
}
