@import "../../mixins.scss";

.b-post-create {

    .ui-tabs {
        margin-bottom: 4px;
    }

    .ui-code .cm-content,
    .ui-code .cm-gutter {
        min-height: 240px;
    }

    .preview {
        border: 1px solid;
        border-radius: 4px;
        overflow: hidden;

        .ui-latex {
            padding: 4px 6px;
            min-height: 20px;
        }
    }

    .attachments {
        border-spacing: 0;
        width: 100%;

        tr {
            td {
                padding: 0 8px 8px 0;
                vertical-align: middle;

                &:last-child {
                    padding-right: 0;
                }
            }

            &:last-child td {
                padding-bottom: 0;
            }
        }

        .attachment {
            .file {
                width: 50px;
                line-height: 0;
                text-align: center;

                img {
                    max-width: 40px;
                    max-height: 40px;
                    padding: 4px;
                    border: 1px solid;
                    border-radius: 4px;
                }
            }

            .name {
                vertical-align: middle;

                .title {
                    display: block;
                    padding: 4px 0;
                }
            }

            .action {
                width: 1%;
                vertical-align: middle;
            }

            &.deleted {
                text-decoration: line-through;
            }
        }
    }
}

@include themify {
    .b-post-create {
        .preview {
            border-color: themed("block-border-color");
        }

        .attachments {
            .attachment {
                .file {
                    img {
                        border-color: themed("block-border-color");
                    }
                }
            }
        }
    }
}
