@import "../../mixins.scss";

.b-post-create {

    .ui-code .cm-content,
    .ui-code .cm-gutter {
        min-height: 240px;
    }

    .preview {
        border: 1px solid;
        border-radius: 4px;
        overflow: hidden;

        .ui-latex {
            padding: 4px 6px;
            min-height: 20px;
        }
    }

    .attachments {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 4px;

            @include clear-fix;

            .file {
                display: block;
                float: left;
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                padding: 2px;
                border: 1px solid;
                border-radius: 4px;
                overflow: hidden;

                img {
                    max-width: 42px;
                    max-height: 42px;
                    vertical-align: middle;
                }
            }

            .name {
                display: block;
                margin-left: 52px;
            }
        }
    }
}

@include themify {
    .b-post-create {
        .preview {
            border-color: themed("block-border-color");
        }

        .attachments {
            .file {
                border-color: themed("block-border-color");
            }
        }
    }
}
