@import "../../mixins.scss";

.b-contest-tabs {
    >.ui-block>.ui-block-content {
        padding-bottom: 0;

        .ui-tabs {
            border-bottom: 0;
        }
    }
}

.b-contest-side {
    h3 {
        text-align: center;
    }

    .stage,
    .duration {
        text-align: center;
        margin-top: 8px;
    }

    .duration {
        font-size: 16px;
    }
}

@include themify {
    .b-contest-side {
        .stage {
            color: themed("label-text-color");
        }
    }
}

.b-contest-submit {
    .ui-code {
        .cm-scroller {
            max-height: 620px;
        }

        .cm-content,
        .cm-gutter {
            min-height: 240px;
        }
    }
}

.b-contest-side-submit {
    .ui-block-footer {
        span {
            padding-left: 8px;
        }
    }
}

.b-contest-edit {
    .ui-block-footer {
        @include clear-fix;

        .ui-button {
            display: block;
            float: left;
            margin-right: 8px;
        }
    }
}

.b-contest-problems {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        tr {
            >.code {
                text-align: right;
                width: 1%;
                white-space: nowrap;
            }

            >.title {
                text-align: left;
            }

            >.actions {
                text-align: left;
                width: 1%;
            }
        }
    }
}


@include themify {
    .b-contest-problems {
        .ui-table {
            tr {
                &.solved {
                    background-color: themed("success-row-background-color");
                }

                &.not-solved {
                    background-color: themed("danger-row-background-color");
                }
            }
        }
    }
}

.b-contest-solutions {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        tr {
            >.id {
                text-align: right;
                width: 1%;
            }

            >.date,
            >.problem,
            >.verdict,
            >.compiler {
                text-align: center;
            }

            >.verdict {
                .ui-verdict-wrap {
                    vertical-align: middle;
                }

                .rejudge {
                    margin-left: 4px;

                    .ui-icon-button {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            >.participant {
                text-align: center;

                .kind {
                    font-size: 12px;
                }
            }
        }
    }
}

@include themify {
    .b-contest-solutions {
        .ui-table {
            tr>.participant {
                .kind {
                    color: themed("label-text-color");
                }
            }
        }
    }
}

.b-contest-solution-content {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-code {
        display: block;
        border: none;
        border-radius: 0 0 3px 3px;
    }
}

.b-contest-participants {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        tr>.id {
            text-align: right;
            width: 1%;
        }

        tr>.login {
            text-align: left;

            .kind {
                font-size: 12px;
            }
        }

        tr>.kind {
            width: 70px;
            text-align: center;
        }

        tr>.actions {
            text-align: left;
            width: 60px;
        }
    }
}

@include themify {
    .b-contest-participants {
        .ui-table {
            tr>.login {
                .kind {
                    color: themed("label-text-color");
                }
            }
        }
    }
}

.b-contest-standings {
    .ui-block-header {
        >.title {
            vertical-align: middle;
        }

        .ui-field {
            display: inline-block;
            margin-left: 10px;
            margin-bottom: 0;
            vertical-align: middle;
        }
    }

    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        tr>.id {
            text-align: right;
            width: 1%;
            border-right: none;
            padding-right: 0;
        }

        tr>.participant {
            text-align: left;

            .kind {
                font-size: 12px;
            }
        }

        tr>.score,
        tr>.penalty {
            width: 60px;
            text-align: center;
        }

        tr>.problem {
            width: 40px;
            text-align: center;
            padding: 4px;

            .code {
                display: block;
                white-space: nowrap;
            }

            .points,
            .solutions {
                display: block;
                font-weight: normal;
                font-size: 9px;
                white-space: nowrap;
            }

            .attempt {
                display: block;
            }

            .time {
                display: block;
                font-size: 9px;
            }

            &.accepted {
                .attempt {
                    font-weight: bold;
                }
            }
        }
    }
}

@include themify {
    .b-contest-standings {
        .ui-table {
            tbody {
                tr.group-2 {
                    background-color: themed("group-row-background-color");
                }

                tr.current {
                    background-color: themed("success-row-background-color");
                }

                tr:hover {
                    background-color: themed("warning-row-background-color");
                }
            }

            tr>.participant {
                .kind {
                    color: themed("label-text-color");
                }
            }

            tr>.problem {

                .solutions,
                .time {
                    color: themed("label-text-color");
                }

                &.accepted {
                    .attempt {
                        color: themed("success-alert-text-color");
                    }
                }

                &.rejected {
                    .attempt {
                        color: themed("danger-alert-text-color");
                    }
                }

                &.unknown {
                    .attempt {
                        color: themed("label-text-color");
                    }
                }
            }
        }
    }
}

.b-contest-messages {
    .controls {
        margin-bottom: 8px;

        .ui-button {
            margin-right: 8px;
        }
    }

    .message-wrap {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        .message {
            border: 1px solid;
            border-radius: 4px;
            padding: 8px;

            >.title,
            >.description,
            >.participant,
            >.answer {
                display: block;
                margin-top: 8px;

                &:first-child {
                    margin-top: 0;
                }
            }

            >.title {
                font-weight: bold;
            }

            >.participant {
                font-size: 12px;
            }
        }

        .new-message {
            margin-top: 8px;
            margin-left: 16px;
            border: 1px solid;
            border-radius: 4px;
            padding: 8px;
        }

        .children {
            margin-top: 8px;
            margin-left: 16px;
        }
    }
}

@include themify {
    .b-contest-messages {
        .message-wrap {
            .message {
                border-color: themed("block-border-color");

                >.participant {
                    color: themed("label-text-color");

                    >a {
                        color: themed("label-text-color");
                    }
                }
            }

            .new-message {
                border-color: themed("block-border-color");
            }
        }
    }
}
