@import "../../mixins.scss";

.b-contest-tabs .ui-block-content {
    padding-bottom: 0;
}

.b-contest-tabs .ui-block-content .ui-tabs {
    border-bottom: 0;
}

.b-contest-edit {
    .ui-block-footer {
        @include clear-fix;

        .ui-button {
            display: block;
            float: left;
            margin-right: 8px;
        }
    }
}

.b-contest-problems {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .code {
            text-align: right;
            width: 1%;
        }

        .title {
            text-align: left;
        }

        .actions {
            text-align: left;
            width: 1%;
        }
    }
}

.b-contest-solutions {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            text-align: right;
            width: 1%;
        }

        .problem,
        .verdict,
        .points,
        .compiler {
            text-align: center;
        }

        .participant {
            text-align: center;

            .kind {
                color: #666666;
            }
        }
    }
}

.b-contest-solution-content {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-code {
        display: block;
        margin: 0;
        background-color: #fff !important;
        padding: 10px !important;
    }
}

.b-contest-participants {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            text-align: right;
            width: 1%;
        }

        .login {
            text-align: left;
        }

        .kind {
            width: 70px;
            text-align: center;
        }

        .actions {
            text-align: left;
            width: 60px;
        }
    }
}

.b-problem-statement {
    .section {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &.samples {
            table-layout: fixed;

            .input,
            .output {
                text-align: left;
                vertical-align: top;
                width: 50%;
            }

            td.input,
            td.output {
                padding: 0;

                >pre {
                    margin: 0;
                    padding: 10px;
                    overflow-x: scroll;
                }
            }
        }
    }
}
