@import "../../mixins.scss";

.b-contest-tabs {
    .ui-block-content {
        padding-bottom: 0;

        .ui-tabs {
            border-bottom: 0;
        }
    }
}

.b-contest-side {
    h3 {
        text-align: center;
    }

    .stage,
    .duration {
        text-align: center;
        margin-top: 8px;
    }

    .stage {
        color: #666666;
    }

    .duration {
        font-size: 16px;
    }
}

.b-contest-submit {
    .ui-code {
        .cm-scroller {
            max-height: 620px;
        }

        .cm-content,
        .cm-gutter {
            min-height: 240px;
        }
    }
}

.b-contest-side-submit {
    .ui-block-footer {
        span {
            padding-left: 8px;
        }
    }
}

.b-contest-edit {
    .ui-block-footer {
        @include clear-fix;

        .ui-button {
            display: block;
            float: left;
            margin-right: 8px;
        }
    }
}

.b-contest-problems {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .problem.solved {
            background-color: #e0f7e0;
        }

        .code {
            text-align: right;
            width: 1%;
            white-space: nowrap;
        }

        .title {
            text-align: left;
        }

        .actions {
            text-align: left;
            width: 1%;
        }
    }
}

.b-contest-solutions {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            text-align: right;
            width: 1%;
        }

        .problem,
        .verdict,
        .points,
        .compiler {
            text-align: center;
        }

        .verdict {
            .ui-verdict-wrap {
                vertical-align: middle;
            }

            .rejudge {
                margin-left: 4px;

                .ui-icon-button {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .participant {
            text-align: center;

            .kind {
                color: #666666;
                font-size: 12px;
            }
        }
    }
}

.b-contest-solution-content {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-code {
        display: block;
        border: none;
        border-radius: 0 0 3px 3px;
    }
}

.b-contest-participants {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            text-align: right;
            width: 1%;
        }

        .login {
            text-align: left;
        }

        .kind {
            width: 70px;
            text-align: center;
        }

        .actions {
            text-align: left;
            width: 60px;
        }
    }
}

.b-contest-standings {
    .ui-block-header {
        .ui-field {
            display: inline-block;
            margin-left: 10px;
            margin-bottom: 0;
        }
    }

    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        tbody {
            tr.group-2 {
                background-color: #f6fdff;
            }

            tr:hover {
                background-color: #fff9ee;
            }
        }

        .id {
            text-align: right;
            width: 1%;
        }

        .participant {
            text-align: left;

            .kind {
                color: #666666;
                font-size: 12px;
            }
        }

        .score,
        .penalty {
            width: 60px;
            text-align: center;
        }

        .problem {
            width: 40px;
            text-align: center;

            .code {
                display: block;
                white-space: nowrap;
            }

            .points,
            .solutions {
                display: block;
                font-weight: normal;
                font-size: 9px;
                white-space: nowrap;
            }

            .solutions {
                color: #666666;
            }

            .attempt {
                display: block;
            }

            .time {
                display: block;
                color: #666666;
                font-size: 9px;
            }

            &.accepted {
                .attempt {
                    color: #3c763d;
                    font-weight: bold;
                }
            }

            &.rejected {
                .attempt {
                    color: #a94442;
                }
            }

            &.unknown {
                .attempt {
                    color: #666666;
                }
            }
        }
    }
}

.b-contest-messages {
    .controls {
        margin-bottom: 8px;

        .ui-button {
            margin-right: 8px;
        }
    }

    .message-wrap {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        .message {
            border: 1px solid $light-border-color;
            border-radius: 4px;
            padding: 8px;

            >.title,
            >.description,
            >.participant,
            >.answer {
                display: block;
                margin-top: 8px;

                &:first-child {
                    margin-top: 0;
                }
            }

            >.title {
                font-weight: bold;
            }

            >.participant {
                color: $light-secondary-text-color;
                font-size: 12px;

                >a {
                    color: $light-secondary-text-color;
                }
            }
        }

        .new-message {
            margin-top: 8px;
            margin-left: 16px;
            border: 1px solid $light-border-color;
            border-radius: 4px;
            padding: 8px;
        }

        .children {
            margin-top: 8px;
            margin-left: 16px;
        }
    }
}
