.b-admin-tabs {
    .ui-block-content {
        padding-bottom: 0;

        .ui-tabs {
            border-bottom: 0;
        }
    }
}

.b-admin-settings {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .key,
        .value {
            width: 50%;
            text-align: left;
        }


        .actions {
            width: 1%;
        }
    }
}

.b-admin-scopes {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            width: 1%;
            text-align: right;
        }

        .title {
            text-align: center;
        }

        .actions {
            width: 1%;
        }
    }
}

.b-admin-scope-users {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            width: 1%;
            text-align: right;
        }

        .login,
        .password,
        .title {
            text-align: center;
        }

        .actions {
            width: 1%;
        }
    }
}

.b-admin-groups {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            width: 1%;
            text-align: right;
        }

        .title {
            text-align: center;
        }

        .actions {
            width: 1%;
        }
    }
}

.b-admin-group-members {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .id {
            width: 1%;
            text-align: right;
        }

        .login {
            text-align: center;
        }

        .kind {
            width: 70px;
            text-align: center;
        }

        .actions {
            width: 1%;
        }
    }
}
