.b-admin-tabs {
    .ui-block-content {
        padding-bottom: 0;

        .ui-tabs {
            border-bottom: 0;
        }
    }
}

.b-admin-settings {
    .ui-block-content {
        padding: 0;
        overflow-x: auto;
    }

    .ui-table {
        border: none;

        .key,
        .value {
            width: 50%;
            text-align: left;
        }


        .actions {
            width: 0%;
        }
    }
}
