@import "../../mixins.scss";

.ui-search-portal {
    display: block;
    position: absolute;
    padding-top: 2px;
    z-index: 20;

    >.search-box {
        display: block;
        border: 1px solid;
        border-radius: 4px;
        overflow: hidden;

        >ul.tabs {
            display: block;
            margin: 0;
            padding: 4px;
            list-style: none;
            @include clear-fix;

            >li {
                display: block;
                float: left;
                padding: 2px 4px;
                margin-right: 2px;
                border: 1px solid transparent;
                border-radius: 4px;
                background-color: transparent;
                text-align: center;
                font-family: inherit;
                font-size: inherit;

                &:hover {
                    cursor: pointer;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        >ul.accounts {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            >li {
                display: block;
                padding: 4px 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@include themify {
    .ui-search-portal {
        >.search-box {
            border-color: themed("button-active-border-color");
            background-color: themed("block-background-color");

            >ul.tabs {
                >li {
                    color: themed("label-text-color");

                    &:hover {
                        border-color: themed("button-hover-border-color");
                    }

                    &.selected {
                        border-color: themed("primary-button-border-color");
                        background-color: themed("primary-button-background-color");
                        color: themed("primary-button-text-color");
                    }
                }
            }

            >ul.accounts {
                >li {
                    background-color: themed("button-background-color");
                    color: themed("button-text-color");

                    &:hover {
                        background-color: themed("button-active-background-color");
                        color: themed("button-active-text-color");
                    }

                    &.selected {
                        background-color: themed("primary-button-background-color");
                        color: themed("primary-button-text-color");
                    }
                }
            }
        }
    }
}
