@import "../../mixins.scss";

.ui-search-portal {
    display: block;
    position: absolute;
    padding-top: 2px;
    z-index: 20;

    >.search-box {
        display: block;
        border: 1px solid;
        border-radius: 4px;
        overflow: hidden;

        >.ui-tabs {
            padding: 4px;
        }

        >ul.items {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            max-height: 300px;
            overflow-y: auto;

            >li {
                display: block;
                padding: 4px 10px;

                .title {
                    display: block;
                }

                .subtitle {
                    display: block;
                    font-size: 12px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@include themify {
    .ui-search-portal {
        >.search-box {
            border-color: themed("button-active-border-color");
            background-color: themed("block-background-color");
            box-shadow: 0 0 2px themed("button-active-border-color");

            >ul.items>li {
                background-color: themed("button-background-color");
                color: themed("button-text-color");

                &:hover {
                    background-color: themed("button-active-background-color");
                    color: themed("button-active-text-color");
                }

                &.selected {
                    background-color: themed("primary-button-background-color");
                    color: themed("primary-button-text-color");
                }
            }
        }
    }
}
