@import "../../mixins.scss";

.ui-block-wrap {
	margin: 0 0 10px 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.ui-block {
	border: 1px solid;
	border-radius: 4px;

	.ui-block-header {
		padding: 10px;
		border-bottom: 1px solid;

		>.title {
			font-size: 15px;
		}
	}

	.ui-block-content {
		padding: 10px;
		border-bottom: 1px solid;
	}

	.ui-block-footer {
		padding: 10px;
	}

	.ui-block-header,
	.ui-block-content {
		&:last-child {
			border-bottom: none;
		}
	}
}

@include themify($themes) {
	.ui-block {
		border-color: themed("block-border-color");
		background-color: themed("block-background-color");

		.ui-block-header {
			border-color: themed("block-border-color");

			>.title {
				color: themed("block-title-text-color");
			}
		}

		.ui-block-content {
			border-color: themed("block-border-color");
		}
	}
}
