/*
 * Layout style
 */
#layout {
	margin: 0 auto;
	padding: 0 4px;
	width: auto;
	max-width: 1060px;
}

/*
 * Main style
 */
#main {
	display: block;
	position: relative;
}

#main:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	visibility: hidden;
}

#sidebar-wrap {
	display: block;
	position: relative;
	float: right;
	width: 260px;
	z-index: 20;
}

#content-wrap {
	display: block;
	position: relative;
	float: left;
	width: calc(100% - 270px);
	z-index: 10;
}

#sidebar,
#content {
	display: block;
	position: relative;
	padding-top: 10px;
}

/* Content only */
#main.content {
	>#sidebar-wrap {
		display: none;
	}

	>#content-wrap {
		float: none;
		width: 100%;
	}
}

/* For mobile devices */
@media (max-width: 840px) {
	#sidebar-wrap {
		width: 240px;
	}

	#content-wrap {
		width: calc(100% - 250px);
	}
}

@media (max-width: 600px) {
	#sidebar-wrap {
		float: none;
		width: 100%;
	}

	#content-wrap {
		float: none;
		width: 100%;
	}
}

/*
 * Footer style
 */
#footer {
	display: block;
	position: relative;
	margin: 20px 0;
}

#footer-nav {
	margin: 0 10px 10px 10px;
}

#footer-nav:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	visibility: hidden;
}

#footer-nav>.wrap {
	position: relative;
	float: right;
	right: 50%;
}

#footer-nav>.wrap>ul {
	position: relative;
	float: right;
	right: -50%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer-nav>.wrap>ul>li {
	float: left;
	margin: 0 10px 0 0;
	color: #666666;
}

#footer-nav>.wrap>ul>li:last-child {
	margin-right: 0;
}

#footer-copy {
	margin: 0 10px;
	color: #bbbbbb;
	text-align: center;
	font-size: 10px;
}

#footer-copy>a {
	color: #bbbbbb;
}
