@import "./mixins.scss";

// Body style.
body {
	margin: 0;
	padding: 0;
	background: $light-body-background-color;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;

	// Fix bug with animations.
	&.preload * {
		@include transition(none !important);
	}

	// Add support of layers.
	.ui-layer {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: auto;

		&.shade {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

// Link style.
a {
	color: #0085ba;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

// Paragraph style.
p {
	margin: 0 0 10px 0;

	&:last-child {
		margin-bottom: 0;
	}
}

// Headings style.
h1,
h2,
h3,
h4,
h5 {
	margin: 0 0 10px 0;
	font-weight: normal;

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

.ui-table {
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	border-spacing: 0;
	background-color: #ffffff;

	>thead>tr>th,
	>tbody>tr>td,
	>tfoot>tr>td {
		padding: 8px 10px;
		border-right: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
	}

	>thead>tr>th:last-child,
	>tbody>tr>td:last-child,
	>tfoot>tr>td:last-child {
		border-right: none;
	}

	>thead:last-child>tr:last-child>th,
	>tbody:last-child>tr:last-child>td,
	>tfoot:last-child>tr:last-child>td {
		border-bottom: none;
	}
}

// Fix for iOS.
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width:1024px) {

	.ui-input,
	.ui-textarea {
		font-size: 16px !important;
	}
}
