@mixin transition($args...) {
	transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	-webkit-transition: $args;
}

@mixin box-sizing($sizing) {
	box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
}

@mixin clear-fix {
	&:after {
		content: '.';
		display: block;
		clear: both;
		height: 0;
		line-height: 0;
		font-size: 0;
		color: transparent;
		visibility: hidden;
	}
}

$themes: (
	light: ( // Body.
		text-color: #000000,
		background-color: #f1f1f1,
		shade-color: rgba(0, 0, 0, 0.1),
		icons: url('../../images/icons.svg'),
		primary-icons: url('../../images/icons-white.svg'),
		label-text-color: #666666,
		link-text-color: #0085ba,
		copy-text-color: #bbbbbb,

		// Block.
		block-border-color: #dddddd,
		block-background-color: #ffffff,

		// Default button.
		button-text-color: #000000,
		button-border-color: #dddddd,
		button-background-color: #ffffff,

		button-hover-text-color: #000000,
		button-hover-border-color: #bbbbbb,
		button-hover-background-color: #ffffff,

		button-active-text-color: #000000,
		button-active-border-color: #bbbbbb,
		button-active-background-color: #eeeeee,

		// Disabled button.
		button-disabled-text-color: #666666,
		button-disabled-border-color: #dddddd,
		button-disabled-background-color: #f1f1f1,

		// Primary button.
		primary-button-text-color: #ffffff,
		primary-button-border-color: #0073aa,
		primary-button-background-color: #0085ba,

		primary-button-hover-text-color: #ffffff,
		primary-button-hover-border-color: #0073aa,
		primary-button-hover-background-color: #008ec2,

		primary-button-active-text-color: #ffffff,
		primary-button-active-border-color: #0073aa,
		primary-button-active-background-color: #0073aa,

		// Success button.
		success-button-text-color: #ffffff,
		success-button-border-color: #1e7e34,
		success-button-background-color: #2b8e42,

		success-button-hover-text-color: #ffffff,
		success-button-hover-border-color: #1e7e34,
		success-button-hover-background-color: #309648,

		success-button-active-text-color: #ffffff,
		success-button-active-border-color: #1e7e34,
		success-button-active-background-color: #1e7e34,

		// Danger button.
		danger-button-text-color: #ffffff,
		danger-button-border-color: #cc342f,
		danger-button-background-color: #d9534f,

		danger-button-hover-text-color: #ffffff,
		danger-button-hover-border-color: #cc342f,
		danger-button-hover-background-color: #e2615e,

		danger-button-active-text-color: #ffffff,
		danger-button-active-border-color: #cc342f,
		danger-button-active-background-color: #cc342f,

		// Success alert.
		success-alert-text-color: #3c763d,
		success-alert-border-color: #c6e3bb,
		success-alert-background-color: #dff0d8,

		// Info alert.
		info-alert-text-color: #31708f,
		info-alert-border-color: #bcdff1,
		info-alert-background-color: #d9edf7,

		// Warning alert.
		warning-alert-text-color: #8a6d3b,
		warning-alert-border-color: #ede3b4,
		warning-alert-background-color: #fcf8e3,

		// Danger alert.
		danger-alert-text-color: #a94442,
		danger-alert-border-color: #ebcccc,
		danger-alert-background-color: #f2dede,

		// Input.
		input-text-color: #000000,
		input-border-color: #dddddd,
		input-background-color: #ffffff,
		input-placeholder-color: #666666,

		input-hover-text-color: #000000,
		input-hover-border-color: #bbbbbb,
		input-hover-background-color: #ffffff,

		input-active-border-color: #0073aa,

		input-disabled-text-color: #666666,
		input-disabled-border-color: #dddddd,
		input-disabled-background-color: #f1f1f1,

		// Checkbox.
		checkbox-checked-border-color: #0073aa,
		checkbox-checked-background-color: #0073aa,

		// Rows.
		success-row-background-color: #e6ffe6,
		danger-row-background-color: #ffe6e6,
		warning-row-background-color: #fff9ee,
		group-row-background-color: #f7f7f7,

		// Code.
		code-comment-text-color: #008000,
		code-keyword-text-color: #770088,
		code-type-text-color: #3300bb,
		code-string-text-color: #a31515,
		code-number-text-color: #098658,
	),
	dark: ( // Body.
		text-color: #d7d7d7,
		background-color: #222425,
		shade-color: rgba(255, 255, 255, 0.1),
		icons: url('../../images/icons-white.svg'),
		primary-icons: url('../../images/icons-white.svg'),
		label-text-color: #afafaf,
		link-text-color: #44b3df,
		copy-text-color: #575757,

		// Block.
		block-border-color: #515355,
		block-background-color: #292c2e,

		// Default button.
		button-text-color: #d7d7d7,
		button-border-color: #515355,
		button-background-color: #292c2e,

		button-hover-text-color: #d7d7d7,
		button-hover-border-color: #798186,
		button-hover-background-color: #292c2e,

		button-active-text-color: #d7d7d7,
		button-active-border-color: #798186,
		button-active-background-color: #373b3d,

		// Disabled button.
		button-disabled-text-color: #7f8081,
		button-disabled-border-color: #515355,
		button-disabled-background-color: #222425,

		// Primary button.
		primary-button-text-color: #ffffff,
		primary-button-border-color: #2499c7,
		primary-button-background-color: #0085ba,

		primary-button-hover-text-color: #ffffff,
		primary-button-hover-border-color: #2499c7,
		primary-button-hover-background-color: #0073aa,

		primary-button-active-text-color: #ffffff,
		primary-button-active-border-color: #2499c7,
		primary-button-active-background-color: #008ec2,

		// Success button.
		success-button-text-color: #ffffff,
		success-button-border-color: #47a35c,
		success-button-background-color: #2b8e42,

		success-button-hover-text-color: #ffffff,
		success-button-hover-border-color: #47a35c,
		success-button-hover-background-color: #1e7e34,

		success-button-active-text-color: #ffffff,
		success-button-active-border-color: #47a35c,
		success-button-active-background-color: #309648,

		// Danger button.
		danger-button-text-color: #ffffff,
		danger-button-border-color: #e76864,
		danger-button-background-color: #d9534f,

		danger-button-hover-text-color: #ffffff,
		danger-button-hover-border-color: #e76864,
		danger-button-hover-background-color: #cc342f,

		danger-button-active-text-color: #ffffff,
		danger-button-active-border-color: #e76864,
		danger-button-active-background-color: #e2615e,

		// Success alert.
		success-alert-text-color: #579f58,
		success-alert-border-color: #386328,
		success-alert-background-color: #1c3013,

		// Info alert.
		info-alert-text-color: #60a8cb,
		info-alert-border-color: #1b5d7f,
		info-alert-background-color: #143444,

		// Warning alert.
		warning-alert-text-color: #b39664,
		warning-alert-border-color: #6d5b07,
		warning-alert-background-color: #362e18,

		// Danger alert.
		danger-alert-text-color: #e58583,
		danger-alert-border-color: #6f3c3c,
		danger-alert-background-color: #3f2424,

		// Input.
		input-text-color: #d7d7d7,
		input-border-color: #515355,
		input-background-color: #292c2e,
		input-placeholder-color: #7f8081,

		input-hover-text-color: #d7d7d7,
		input-hover-border-color: #798186,
		input-hover-background-color: #292c2e,

		input-active-border-color: #2499c7,

		input-disabled-text-color: #7f8081,
		input-disabled-border-color: #515355,
		input-disabled-background-color: #222425,

		// Checkbox.
		checkbox-checked-border-color: #2499c7,
		checkbox-checked-background-color: #2499c7,

		// Rows.
		success-row-background-color: #222f1d,
		danger-row-background-color: #312727,
		warning-row-background-color: #2f2b1d,
		group-row-background-color: #222526,

		// Code.
		code-comment-text-color: #3e803c,
		code-keyword-text-color: #e19ac2,
		code-type-text-color: #73b0ff,
		code-string-text-color: #eaa68b,
		code-number-text-color: #a9e3bb,
	),
);

@mixin themify {
	@each $name, $values in $themes {
		body.theme-#{$name} {
			$theme-map: $values !global;
			@content;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
