@mixin transition($args...) {
	transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	-webkit-transition: $args;
}

@mixin box-sizing($sizing) {
	box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
}

@mixin clear-fix {
	&:after {
		content: '.';
		display: block;
		clear: both;
		height: 0;
		line-height: 0;
		font-size: 0;
		color: transparent;
		visibility: hidden;
	}
}

$light-body-background-color: #f1f1f1;
$light-background-color: #ffffff;
$light-disabled-background-color: #f1f1f1;
$light-background-primary-color: #0085ba;
$light-hover-background-primary-color: #008ec2;
$light-active-background-primary-color: #0073aa;
$light-background-success-color: #2b8e42;
$light-hover-background-success-color: #309648;
$light-active-background-success-color: #1e7e34;

$light-border-color: #dddddd;
$light-hover-border-color: #bbbbbb;
$light-active-border-color: #bbbbbb;
$light-border-primary-color: #0073aa;
$light-border-success-color: #1e7e34;

$light-text-color: #000000;
$light-secondary-text-color: #666666;
