@import "../../mixins.scss";

.ui-alert {
	display: block;
	margin: 0 0 10px 0;
	border: 1px solid;
	border-radius: 4px;

	&:last-child {
		margin-bottom: 0;
	}

	&.danger {
		.ui-collapse {
			>.ui-collapse-header {
				>.arrow {
					background-image: url('../../images/icons-red.svg');
				}
			}
		}
	}

	.ui-alert-content {
		padding: 10px;

		.ui-collapse {
			background-color: transparent;
			border: none;

			>.ui-collapse-header {
				padding: 0 0 0 16px;
				line-height: 16px;

				>.arrow {
					top: 0;
					left: 0;
					width: 16px;
					height: 16px;
				}
			}

			>.ui-collapse-content {
				padding: 0;
				border-top: none;
			}
		}
	}
}

@include themify($themes) {
	.ui-alert {
		&.success {
			background-color: themed("success-alert-background-color");
			border-color: themed("success-alert-border-color");
			color: themed("success-alert-text-color");
		}
	
		&.info {
			background-color: themed("info-alert-background-color");
			border-color: themed("info-alert-border-color");
			color: themed("info-alert-text-color");
		}
	
		&.warning {
			background-color: themed("warning-alert-background-color");
			border-color: themed("warning-alert-border-color");
			color: themed("warning-alert-text-color");
		}
	
		&.danger {
			background-color: themed("danger-alert-background-color");
			border-color: themed("danger-alert-border-color");
			color: themed("danger-alert-text-color");
		}
	}
}
