.ui-code {
    border: 1px solid #dddddd;
    border-radius: 4px;
    overflow: hidden;

    .cm-gutter.cm-lineNumbers {
        margin-left: 4px;
    }

    .hl-comment {
        color: #008000;
    }

    .hl-keyword {
        color: #770088;
    }

    .hl-type {
        color: #3300bb;
    }

    .hl-string {
        color: #a31515;
    }

    .hl-number {
        color: #098658;
    }
}
