.ui-code {
    .linenumber {
        display: inline-block;
        color: #999999;
        width: 44px;
        text-align: right;
        padding-right: 10px;
        user-select: none;
    }
    .hljs-comment {
        color: #008000;
    }
    .hljs-meta {
        color: #0000ff;
    }
    .hljs-meta-keyword {
        color: #0000ff;
    }
    .hljs-meta-string {
        color: #a31515;
    }
    .hljs-keyword {
        color: #0000ff;
    }
    .hljs-literal {
        color: #0000ff;
    }
    .hljs-built_in {
        color: #0000ff;
    }
    .hljs-string {
        color: #a31515;
    }
    .hljs-number {
        color: #098658;
    }
    
}
